# Manual: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore temp files created by LaTeX:
*.aux
*.log
*.out
*.toc
*-blx.bib

# Ignore this final documents (but trac PDF images):
frunge.pdf