# Manual: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore the output directories:
bin/
out/

# Ignore directories with highly experimental code:
res/data/text/
res/sink/
src/org/nongnu/frunge/sink/
/src/org/nongnu/frunge/hyphen/LegacyHyphenator.java
